<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:hda="http://typo3.org/ns/Hda/HdaPersonen/ViewHelpers">
      
	<f:section name="list">
	   <f:format.raw>
	        <f:if condition="{settings.image}">
	            <f:if condition="{person.imageref} != ''">
	                <hda:Image key="{person.imageref}" name="{person.name}"  settings="{settings}" />
	            </f:if> 
	        </f:if>
	    </f:format.raw> 
	</f:section> 
	
	<f:section name="single">
		<f:format.raw>
	        <f:if condition="{settings.image}">
	            <f:if condition="{person.0.imageref} != ''">
	                <hda:Image key="{person.0.imageref}" name="{person.0.name}"  settings="{settings}" />
	            </f:if> 
	        </f:if>
        </f:format.raw> 
	</f:section> 
</html>

