 <html xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:hda="http://typo3.org/ns/Hda/HdaPersonen/ViewHelpers"> 
           <f:if condition="{settings.subtitle}"><f:format.htmlentitiesDecode>{settings.subtitle}</f:format.htmlentitiesDecode><br /></f:if> 
           	<f:if condition="{settings.noname} = '0'">
				<f:else>
                	<span class="person">     
			             <f:if condition="{settings.degree} && {person.employed} != 'Funktionsaccount'">
			             	<f:then>{person.title} {person.firstName} {person.lastName}</f:then>
			             	<f:else>
	            				<f:if condition="{person.employed} != 'Funktionsaccount'">	
			             			{person.firstName} {person.lastName}
			             		</f:if>
	            				<f:if condition="{person.employed} == 'Funktionsaccount'">	
	            					{person.name}
			             		</f:if>
			             	</f:else>
			             </f:if>
			         </span>     			
				</f:else>
           </f:if>
</html>
