<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
      xmlns:hda="http://typo3.org/ns/Hda/HdaPersonen/ViewHelpers">
      
    <f:layout name="Standard" />
    <f:section name="Content">

		<f:if condition="{person} == ''">
			<f:then>
				<p><f:translate key="LLL:EXT:hda_personen/Resources/Private/Language/locallang_frontend.xlf:noentries" /></p>
			</f:then>
			
			<f:else>			 
				<f:comment>1 Item Flex </f:comment>
		 		<f:if condition="{settings.items} == 1">
			 		<div class="compact oneitem">
						<f:for each="{person}" as="person">
							<div class="col-12">
								<f:render section="compact" arguments="{_all}"/>
							</div>
						 </f:for> 
					</div>	 
				</f:if>
					
				<f:comment>2 Items Flex </f:comment>
				<f:if condition="{settings.items} == 2">
					<div class="compact twoitems">
						<f:for each="{person}" as="person" iteration="iterator">
							<f:if condition="{iterator.isFirst}">
								<div class="row align-items-stretch">
							</f:if>
						
							<f:if condition="{iterator.cycle} % 2">
								<f:then>
									<div class="col-12 col-sm-6">
										<f:render section="compact" arguments="{_all}"/>
									</div>	
								</f:then>
								<f:else>
									<div class="col-12 col-sm-6">
										<f:render section="compact" arguments="{_all}"/>
									</div>
									<f:if condition="{iterator.isLast}">
										<f:then></f:then>
										<f:else>
											</div><div class="row align-items-stretch">
										</f:else>
									</f:if>
								</f:else>
							</f:if>
							<f:if condition="{iterator.isLast}">
								</div>
							</f:if>
						</f:for>
					</div>
				</f:if>					
	
		       <f:comment>3 Items Flex </f:comment>
		       <f:if condition="{settings.items} == 3">
					<div class="compact threeitems">
						<f:for each="{person}" as="person" iteration="iterator">
						    <f:if condition="{iterator.isFirst}">
						        <div class="row align-items-stretch">
						    </f:if>
						    <f:if condition="{iterator.cycle} % 3">
						        <f:then>
									<div class="col-12 col-sm-4">
										<f:render section="compact" arguments="{_all}"/>
									</div>	
						        </f:then>
						
						        <f:else>
									<div class="col-12 col-sm-4">
										<f:render section="compact" arguments="{_all}"/>
									</div>	
						            <f:if condition="{iterator.isLast}">
						                <f:then></f:then>
						                <f:else>
						                    </div><div class="row align-items-stretch">
						                </f:else>
						            </f:if>
						        </f:else>
						    </f:if>
						    <f:if condition="{iterator.isLast}">
						        </div>
						    </f:if>
						</f:for>
					</div>                     
		       </f:if>
	
		       <f:comment>4 Items Flex </f:comment>
		       <f:if condition="{settings.items} == 4">
					<div class="compact fouritems">
						<f:for each="{person}" as="person" iteration="iterator">
						    <f:if condition="{iterator.isFirst}">
						        <div class="row align-items-stretch">
						    </f:if>
						    <f:if condition="{iterator.cycle} % 4">
						        <f:then>
									<div class="col-12 col-sm-6 col-lg-3">
										<f:render section="compact" arguments="{_all}"/>
									</div>	
						        </f:then>
	
						        <f:else>
									<div class="col-12 col-sm-6 col-lg-3">
										<f:render section="compact" arguments="{_all}"/>
									</div>
						            <f:if condition="{iterator.isLast}">
						                <f:then></f:then>
						                <f:else>
						                    </div><div class="row align-items-stretch">
						                </f:else>
						            </f:if>
						        </f:else>
						    </f:if>
						    <f:if condition="{iterator.isLast}">
						        </div>
						    </f:if>
						</f:for>
					</div>                     
		       </f:if>
	
			</f:else>
		</f:if>	
	</f:section>		
		
	<f:section name="compact">
		<div class="innerframe h-100 {settings.itemcolor}">
			<f:if condition="{settings.image}">
	       		<f:if condition="{person.imageref}">
		       		<f:then>
						<div class="imageframe format-{settings.imageformat}">				
						   <f:format.raw>
						   	  <hda:Image key="{person.imageref}" name="{person.name}"  settings="{settings}" />
						   </f:format.raw> 
						</div>	     
					</f:then>   
			       	<f:else>			       
						<div class="imageframe format-{settings.imageformat}">				
						   <f:image src="EXT:hda_personen/Resources/Public/Design/person.png" alt="dummy image" />
						</div>	  
			       </f:else>       
		   		</f:if>		
			</f:if>
			
			
			
			<div class="infoarea" style="background-color:{settings.itemcolor}">
				<f:render partial="Salutation.html" arguments="{person: person,settings:settings,iterator:iterator}" />	
				<f:render partial="Contact.html" section="list" arguments="{person: person,settings:settings,iterator:iterator}" />	
				<f:render partial="Information.html" section="list" arguments="{person: person,settings:settings,iterator:iterator}" />	
			</div>
		</div>
	</f:section>

</html>
